.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #4CAF50;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005f73;
}

body{
  font-family: Times New Roman, sans-serif;
  background-color: lightblue;
  margin: 5;
  padding: 5;
}
t{
  color: navy;
  text-align: center;
  font-size: 50px;
}      
h2{
 color: black;
text-align: left;
font-size: 30px;
}