.App {
  text-align: center;
  margin-top: 50px;
}

/* Change the background color of the whole page */
body {
  background-color: #def8f3; /* Light gray color */
  font-family: 'Verdana', sans-serif
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margins */
}

.content {
  text-align: center; /* Center text inside the content */
  padding: 20px; /* Optional padding */
  background: white; /* Optional background for the content */
  border-radius: 10px; /* Optional rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
}

h1 {
  color: #4e854c;
  text-align: center;
}

button {
  font-family: 'Verdana', sans-serif; 
  padding: 10px 20px;
  background-color: #00ba9b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #029e84;
}

/* Style the description */
.description {
  font-family: 'Verdana', sans-serif;
  color: #666;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}
